@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
}

.back {
    background-color: none;
    padding: 4px;
    padding-top: 6px;
    width: 30px;
    cursor: pointer;
    border-radius: 4px;
}

.back:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.player{
    width: 360px;
    height: 500px;
    padding: 10px;
    overflow: hidden;
    background-color: #f5bde5;
    background-image: linear-gradient(142deg, #f8ceec 14%, #98cefa 97%);
}

.controls {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.keyboard {
    width: 100%;
    height: 250px;
    color: #fff;
    display: flex;
    user-select: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lobster Two', cursive;
}

.keyboard img {
    width: 140px;
    height: 140px;
    border-radius: 24px;
    margin: 14px 0px;
    margin-top: 30px;
}

.keyboard h1 {
    font-size:2.4em;
    margin: 5px 0px;
    color: #111;
}

.h1-text {
    overflow-wrap: break-word;
    overflow: hidden;
    margin: auto;
}

.keyboard p {
    color: #333;
    font-size: 27px;
    margin: 5px 0px;
}
a, a:hover , a:focus, a:visited, a:active {
    color: #111;
}

.play {
    display: none;
}

.pause:hover , .play:hover {
    opacity: 0.8;
}

.slider {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 33px 10px 0px 10px;
    overflow: hidden;
}

.period {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}
.progress {
    width: 100%;
    height: auto;
    padding: 10px 0px;
}

.buttons {
    cursor: pointer;
}

.on-play {
    width: 50%;
    background: #222;
}


.slider_container { 
width: 150px; 
display: flex; 
flex-direction: row;
vertical-align: middle;
justify-content: space-around; 
align-items: center; 
}

.seeker, .volume { 
-webkit-appearance: none; 
-moz-appearance: none; 
appearance: none; 
height: 5px; 
width: 100px;
cursor: pointer;
margin: 16px 0px;
background: #111; 
opacity: 0.7; 
-webkit-transition: .2s; 
transition: opacity .2s; 
} 

.seeker {
    width: 290px;
    border-radius: 10px;
    margin: 5px;
    background-color: #000;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}